{% extends 'base.html' %}

{% block content %}
  <div class="qr-wrapper">
    <h2 class="qr-title">Quét QR code để thanh toán</h2>
    <img src="{{ payment_info.payment.qr.url }}" alt="QR Code" class="qr-image" />
    <p id="countdown-text">Thanh toán trong <strong id="countdown">60</strong> giây...</p>
  </div>

  <script>
    let displaySeconds = 60;  // Đếm ngược hiển thị từ 60
    const countdownElem = document.getElementById('countdown');

    // Đếm ngược hiển thị
    const displayInterval = setInterval(function() {
      displaySeconds--;
      countdownElem.textContent = displaySeconds;
      if (displaySeconds <= 0) {
        clearInterval(displayInterval);
      }
    }, 1000);

    // Sau 5 giây thì chuyển trang
    setTimeout(function() {
      window.location.href = "/payment/success/{{ payment_info.paymentinfo_id }}/";
    }, 5000);
  </script>
{% endblock %}



{% block styles %}
<style>
.qr-wrapper {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.qr-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #5c6bc0;

  margin: 1.5rem 0 1rem;
  padding: 8px 0;
}
.qr-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 30px;
}

#countdown-text {
  font-size: 18px;
  color: #444;
}
  #countdown {
  color: red;
}

</style>
{% endblock %}
